@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logout {
  color: white;
  background-color: black;
  height: 200px;
  width: 200px;
}
.card-container {
  background-color: rgb(254, 254, 254);
  width: 75vw;
  height: 100vh;
  border: 1px solid black;
  border-radius: 20%;
  padding: 50px;
}

.todoListContainer {
  display: flex;
  width: 200px;
}

.descTodo {
  outline: none;
  height: 35px;
  width: 350px;
  border: 1px solid black;
  
}
.inputTodo {
  width: 350px;
  height: 35px;
  outline: none;
  text-indent: 10px;

}
.todoDeleteBtn {
  cursor: pointer;

}
.todoComplete, .todoActive {
  cursor: pointer;

}

