@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: rgba(223, 229, 231, 0.945);
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: rgba(223, 229, 231, 0.945);
}

.card-container-login {
  margin: 0 auto;
  width: 40%;
  height: 300px;
  box-shadow: 10px 10px 10px rgb(179, 177, 177);
  margin-top: 200px;
  background-color: rgba(223, 229, 231, 0.945);
}

.form-group {
  margin: 0 auto;
  width: 60%;
  height: 80px;
  margin-top: 10px;
}

.todoListContainer,
.searchList
 {
  display: flex;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.descTodo {
  outline: none;
  height: 35px;
  width: 480px;
  border-radius: 5px;
  border:2px solid rgb(250, 246, 246);
}

.inputTodo ,
.todo-entry
{
  width: 90%;
  height: 40px;
  outline: none;
  text-indent: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  border:2px solid rgb(250, 246, 246);
}
.todoDeleteBtn {
  cursor: pointer;
  margin-left: 5px;
  height: 35px;
  width: 35px;
  font-weight: bold;
  font-size: large;
  border:2px solid rgb(250, 246, 246);
  border-radius: 5px;
  background-color:transparent;
  color: red;
}

.todoCompleted,
.todoActive {
  cursor: pointer;
  margin-right: 5px;
  margin-left: 10px;
  height: 35px;
  width: 100px;
  border:none;
  background-color: transparent;
  color:rgb(80, 77, 77);
  border:2px solid  rgb(250, 246, 246);
  border-radius: 5px;
}

.input {
  height: 50px;
  margin-top: 15px;
}
.subBtn {
  margin-left: 380px;
  margin-top: 10px;
}

.card-container-dashboard {
  margin: 0 auto;
  width: 60%;
  height: 500px;
  box-shadow: 10px 10px 10px rgb(179, 177, 177);
  margin-top: 100px;
  background-color: rgba(223, 229, 231, 0.945);
}

.dashboardCard {
  margin: 0 auto;
  width: 90%;
  height: 400px;
}
.logout{
  margin-left: 630px;
  padding:5px 10px;
  border-radius: 5px;
 
}